* {
  box-sizing: inherit;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a:focus, button:focus {
  outline: #FBD784 auto 2px;
}

body {
  margin: 0;
  padding: 68px 80px 0;
  font-family: "Ubuntu Mono", Consolas, monospace;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: #ffffff;
  background-color: #0B1D26;
  width: 100%;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: calc(100% - 40px);
    padding: 0 20px;
  }
}
@media (max-width: 479px) {
  .container {
    max-width: calc(100% - 20px);
    padding: 0 10px;
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

/*-- HEADER --*/
.header {
  margin-bottom: 200px;
}

.index-nav a {
  padding-left: 40px;
}
.index-nav a:nth-child(1) {
  padding-left: 0;
}

/*-- /HEADER --*/
/*-- ASIDE-LEFT --*/
.social-link {
  flex-direction: column;
}
.social-link a {
  padding-top: 24px;
}

/*-- ASIDE-LEFT --*/
/*-- ASIDE-RIGHT --*/
.progress-wrapper {
  background-color: #FFFFFF;
  opacity: 0.5;
}

/*-- /ASIDE-RIGHT --*/
/*-- TITLE --*/
.main-title h1 {
  font-family: "Old Standard TT", "Times New Roman", serif;
  font-size: 88px;
  line-height: normal;
  font-weight: 700;
}

/*-- TITLE --*/