$back-color: #0B1D26;
$sup-color:  #FBD784;

$main-text: 'Old Standard TT', 'Times New Roman', serif;
$sup-text: 'Ubuntu Mono', Consolas, monospace;


*{box-sizing: inherit;
	box-sizing: border-box;}
img{max-width: 100%;
    height: auto;}  
a{text-decoration: none;
	color: inherit;}
p,span,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
a:focus, button:focus {outline: $sup-color auto 2px;}
body{
  margin: 0;
  padding: 0;
  padding-top: 68px;

  font-family: $sup-text;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  background-color: $back-color;
  width: 100%;

	&::before{
  	content: '';
  	display: block;
  	background: linear-gradient(330.24deg, rgba(255, 255, 255, 0) 50%, #0B1D26 150%), linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #0B1D26 95%), url("../img/bckgrnd.jpg") no-repeat;
  	background-size: cover;
  	height: 1575px;
  	width: 100%;
  	padding: 0;
  	top: 0;
  	left: 0;
  	background-position: 0 0;
  	position: absolute;
  	z-index: -1;
	}
	&.lock{overflow: hidden;}
}

.container {
	margin: 0 auto;
	max-width: 1460px;
 	@media (max-width: 1200px){max-width: 970px;}
   @media (max-width: 992px){max-width: calc(100% - 40px); padding: 0 20px;}
   @media (max-width: 479px){max-width: calc(100% - 20px); padding: 0 10px;}
}
.container-fluid {
	margin: 0 auto;
	position: rel
	max-width: 1760px;
}

.flex-wrapper {
	display: flex;
	justify-content: space-between;
}

/*-- HEADER --*/
	.header {
		margin-bottom: 200px;
		img{
			max-height: 50px;
		}
		a:hover{
			color: $sup-color;
			transition: all 0.2s ease-out 0s;
			text-decoration: underline;
		}	
	}
	.header-wrapper{
		align-items: center;
	}
	.index-nav {
		a{
			margin-left: 40px;
			&:nth-child(1){
				margin-left: 0;
			}
		}
	}
	.account{
		position: relative;
		&::before{
			content: '';
			background-image: url('../img/account.png');
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			left: -32px;
			top: 3px;	
		}
	}
/*-- /HEADER --*/

/*-- ASIDE-LEFT --*/
	.aside-left {
		display: inline-block;
		position: fixed;
		top: 360px;
		z-index: 11;
	}
	.social-link {
		flex-direction: column;
		p{transform-origin: 50% -50%; transform: rotate(90deg);}
		a{margin-top: 24px; max-width: 20px;transition: all 0.1s ease-out;
		&:hover{transform: scale(1.3);}}
	}
/*-- ASIDE-LEFT --*/

/*-- ASIDE-RIGHT --*/
	.aside-right {
		display: inline-block;
		position: fixed;
		top: 360px;
		right: 0;
		z-index: 11;
	}
	.progress-bar {
	}
	.progress-list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-right: 32px;
		p{
			line-height: 22px;
			margin-top: 40px;
			&:nth-child(1){margin-top: 10px;}
		}
	}
	.progress-wrapper {
		width: 3px;
		height: 240px;
		background-color: rgba(255, 255, 255, 0.5);
	}
	.progress-line {
		width: 3px;
		background-color: #ffffff;
	}
/*-- /ASIDE-RIGHT --*/

/*-- TITLE --*/
	.subtitle {
		color: $sup-color;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 30px;
		
		&::before{
			content: '';
			display: inline-block;
			margin: 6px 0;
			margin-right: 32px;
			width: 72px;
			height: 2px;
			background-color: $sup-color;
		}
	}
	.main-title {
		width: 950px;
		margin: 0 auto 800px;
		h1{
			font-family: $main-text;
	  	font-size: 88px;
	  	line-height: normal;
	  	font-weight: 700;
		}
	}

/*-- TITLE --*/


/*-- HIKING-ITEMS --*/
	.hiking-items {

	}
	.hiking-item {
		padding-left: 150px;
		margin-bottom: 200px;
	}
	.hiking-text {
		margin: 140px 110px 0 0;
		position: relative;
		h2{
			font-family: $main-text;
	  	font-size: 60px;
	  	line-height: normal;
	  	font-weight: 700;
	  	margin-bottom: 27px;
		}
		p{
			margin-bottom: 27px;
		}
		a{
			display: inline-block;
			color: $sup-color;
			position: relative;
			&:hover{
			transition: all 0.2s ease-out 0s;
			transform: scale(1.1);
			text-decoration: underline;
		
		}	
			&::after{
				content: '';
				background-image: url('../img/arrow-right.png');
				display: block;
				width: 24px;
				height: 16px;
				position: absolute;
	    		left: 96px;
	    		top: 9px;	
			}
		}
	}
	.hiking-img {
		flex: 0 0 560px;	
		img{
			min-height: 700px;
			object-fit: cover;
	  	position: relative;  
	  	top: 0;
	  	left: 0;
	  }
	}

/*-- /HIKING-ITEMS --*/

/*-- FIRST-ITEM --*/
	.hiking-text1::before{
		content: '01';
		font-family: $sup-text;
		font-weight: 700;
		font-size: 240px;
		position: absolute;
	  top: -15px;
	  left: -155px;
		color: #FFFFFF;
		opacity: 0.1;
	}
/*-- /FIRST-ITEM --*/

/*-- SECOND-ITEM --*/
	.hiking-item.second-item{
		flex-direction: row-reverse;
		padding-left: 0;
		.hiking-text {
			margin: 140px 0 0 260px;
		}
	}
	.hiking-text2::before{
		content: '02';
		font-family: $sup-text;
		font-weight: 700;
		font-size: 240px;
		position: absolute;
	  top: -15px;
	  left: -155px;
		color: #FFFFFF;
		opacity: 0.1;
	}
/*-- /SECOND-ITEM --*/

/*-- THIRD-ITEM --*/
	.hiking-text3::before{
		content: '03';
		font-family: $sup-text;
		font-weight: 700;
		font-size: 240px;
		position: absolute;
	  top: -15px;
	  left: -155px;
		color: #FFFFFF;
		opacity: 0.1;
	}
/*-- /THIRD-ITEM --*/

/*-- FOOTER --*/
	.footer {
		margin-bottom: 120px;
		a:hover{
			color: $sup-color;
			transition: all 0.3s ease-out 0s;
		}
	}
	.privacy {
		max-width: 340px;
		img{
			width: 50px;
		}
		p{margin-top:20px;margin-bottom: 100px; font-weight: 700;} 
	}
	.copy-text{color: #bbbbbb;}
	.contacts {
		max-width: 195px;
		display: flex;
		flex-direction: column;
		h2{font-size: 24px; color: $sup-color; margin-bottom: 24px;}
	}

	.footer-nav{
		display: flex;
		flex-direction: column;
			a{margin-bottom: 16px;}
	}

	.other-info {
		max-width: 170px;
		display: flex;
		flex-direction: column;
		h2{font-size: 24px; color: $sup-color; margin-bottom: 24px;}

	}
	.other {}
/*-- /FOOTER --*/