$back-color: #0B1D26;
$sup-color:  #FBD784;

$main-text: 'Old Standard TT', 'Times New Roman', serif;
$sup-text: 'Ubuntu Mono', Consolas, monospace;


*{box-sizing: inherit;
	box-sizing: border-box;}
img{max-width: 100%;
    height: auto;}  
a{text-decoration: none;
	color: inherit;}
p,span,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
a:focus, button:focus {outline: $sup-color auto 2px;}
body{
  margin: 0;
  padding: 68px 80px 0;

  font-family: $sup-text;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: #ffffff;
  background-color: $back-color;
  width: 100%;

	&::before{
  	content: '';
  	display: block;
  	background: linear-gradient(330.24deg, rgba(255, 255, 255, 0) 50%, #0B1D26 150%), linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #0B1D26 95%), url("../img/bckgrnd.jpg") no-repeat;
  	background-size: cover;
  	height: 1575px;
  	width: 100%;
  	padding: 0;
  	top: 0;
  	left: 0;
  	background-position: 0 0;
  	position: absolute;
  	z-index: -1;
	}
	&.lock{overflow: hidden;}
}

.container {
	max-width: 1460px;
	margin: 0 auto;
  @media (max-width: 1200px){max-width: 970px;}
  @media (max-width: 992px){max-width: calc(100% - 40px); padding: 0 20px;}
  @media (max-width: 479px){max-width: calc(100% - 20px); padding: 0 10px;}
}
.container-fluid {

	}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}

/*-- HEADER --*/
.header {
	margin-bottom: 200px;
	a:hover{
		color: $sup-color;
		transition: all 0.3s ease-out 0s;
	}	
}
.index-nav {
	a{
		margin-left: 40px;
		&:nth-child(1){
			margin-left: 0;
		}
	}
}

/*-- /HEADER --*/

/*-- ASIDE-LEFT --*/
.aside-left {
	display: inline-block;
	position: fixed;
	top: 360px;
	left: 80px;
}
.social-link {
	flex-direction: column;
	p{transform-origin: 50% -120%; transform: rotate(90deg);}
	a{margin-top: 24px; max-width: 20px;}
}
/*-- ASIDE-LEFT --*/

/*-- ASIDE-RIGHT --*/
.aside-right {
	display: inline-block;
	position: fixed;
	top: 360px;
	right: 80px;
}
.progress-bar {

}
.progress-list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 32px;
	p{
		margin-top: 40px;
	}
}
.progress-wrapper {
}
.progress {
	width: 3px;
	height: 240px;
	background-color: #FFFFFF;
	opacity: 0.5;
}
/*-- /ASIDE-RIGHT --*/

/*-- TITLE --*/
.subtitle {
	color: $sup-color;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 30px;
	
	&::before{
		content: '';
		display: inline-block;
		margin: 6px 0;
		margin-right: 32px;
		width: 72px;
		height: 2px;
		background-color: $sup-color;
	}
}
.main-title {
	width: 950px;
	margin: 0 auto 800px;
	h1{
		font-family: $main-text;
  	font-size: 88px;
  	line-height: normal;
  	font-weight: 700;
	}
}

/*-- TITLE --*/


/*-- HIKING-ITEMS --*/
.hiking-items {

}
.hiking-item {
	padding-left: 150px;
	margin-bottom: 200px;
}
.hiking-text {
	margin: 140px 110px 0 0;
	position: relative;
	h2{
		font-family: $main-text;
  	font-size: 60px;
  	line-height: normal;
  	font-weight: 700;
  	margin-bottom: 27px;
	}
	p{
		margin-bottom: 27px;
	}
	a{
		display: inline-block;
		color: $sup-color;
		position: relative;

		&::after{
			content: '';
			background-image: url('../img/arrow-right.png');
			display: block;

			width: 24px;
			height: 16px;

			position: absolute;
    	left: 96px;
    	top: 3px;
    	
		}
	}
}
.hiking-img {
	flex: 0 0 560px;	
	img{
		min-height: 700px;
		object-fit: cover;
  	position: relative;  
  	top: 0;
  	left: 0;
  }
}

/*-- /HIKING-ITEMS --*/

/*-- FIRST-ITEM --*/
.hiking-text1::before{
	content: '01';
	font-family: $sup-text;
	font-weight: 700;
	font-size: 240px;
	position: absolute;
  top: -125px;
  left: -155px;
	color: #FFFFFF;
	opacity: 0.1;
}
/*-- /FIRST-ITEM --*/

/*-- SECOND-ITEM --*/
.hiking-item.second-item{
	flex-direction: row-reverse;
	padding-left: 0;
	.hiking-text {
		margin: 140px 0 0 260px;
	}
}
.hiking-text2::before{
	content: '02';
	font-family: $sup-text;
	font-weight: 700;
	font-size: 240px;
	position: absolute;
  top: -125px;
  left: -155px;
	color: #FFFFFF;
	opacity: 0.1;
}
/*-- /SECOND-ITEM --*/

/*-- THIRD-ITEM --*/
.hiking-text3::before{
	content: '03';
	font-family: $sup-text;
	font-weight: 700;
	font-size: 240px;
	position: absolute;
  top: -125px;
  left: -155px;
	color: #FFFFFF;
	opacity: 0.1;
}
/*-- /THIRD-ITEM --*/